<button id="<%=producto.id %>" class="btn btn-primary btnEditar" type="button">
  <i class="bi bi-pencil me-2"></i>Editar
</button>
<button
  id="<%=producto.id %>"
  class="btn btn-primary btnEliminar"
  type="button"
>
  <i class="bi bi-trash me-2"></i>Eliminar
</button>
