<div class="container mt-4" id="contenedor">
  <div class="izquierdaNav">
    <img class="logo" src="../images/4.webp" alt="Logo" />
    <a href="/abm">GAMEREEL</a>
  </div>
  <nav class="nav" id="nav">
    <button class="cerrarMenu" id="cerrar">
      <i class="bi bi-x"></i>
    </button>
    <ul class="nav-links">
      <li><a href="../landing-page.html">Inicio</a></li>
      <li><a href="/abm/juegos">Juegos</a></li>
      <li><a href="/abm/peliculas">Peliculas</a></li>
      <li><a href="#">Ventas</a></li>
    </ul>
  </nav>
  <div class="derechaNav">
    <div class="iconoModo">
      <i class="bi bi-brightness-high" id="iconoToggler"></i>
    </div>
    <button class="abrirMenu" id="abrir">
      <i class="bi bi-list"></i>
    </button>
  </div>
</div>
