<div class="d-flex justify-content-center align-content-center">
  <p class="p-0 m-0"><%=producto.nombre %></p>
</div>
<div class="d-flex justify-content-center mt-3">
  <img src="./uploads/<%=producto.portada%>" alt="<%=producto.nombre%>" />
</div>
<div class="d-flex justify-content-center mt-1">
  <p class="mb-0">$<%=producto.precio%></p>
</div>
