@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  /* background-color: #242124; */
}

#logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

#containerMain {
  background-color: grey;
  height: 120vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#icono {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

#iconoToggler {
  font-size: 30px;
}

#bienvenida {
  text-align: center;
}

#imagen {
  text-align: center;
  color: black;
}
#imagen img {
  height: 150px;
  width: 150px;
}

#formulario {
  background-color: #242124;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 300px;
  border-radius: 20px;
}
#formulario h3 {
  margin-top: 20px;
  text-align: center;
}

.btn-primary {
  --bs-btn-color: black;
  --bs-btn-border-color: #dad2bc;
  --bs-btn-bg: #dad2bc;
  --bs-btn-hover-bg: #dad2bcc6;
  --bs-btn-hover-border-color: #dad2bcc6;
  --bs-btn-active-bg: #ffa500;
  --bs-btn-active-border-color: #ffa500;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffa500;
  --bs-btn-disabled-border-color: #ffa500;
}
