@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ececec;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
body.dark-mode {
  background-color: #242124;
}

header {
  padding-inline: 10px;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #dad2bc;
  border-radius: 20px;
  border: 5px solid #242124;
  width: 100%;
}
body.dark-mode #contenedor {
  background-color: #70798c;
  border: 5px solid #ececec;
}

.izquierdaNav {
  display: flex;
  align-items: center;
}

.izquierdaNav a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
body.dark-mode .izquierdaNav a {
  color: white;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links li a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #1c1c1c;
}
body.dark-mode .nav-links li a {
  color: white;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

.derechaNav {
  display: flex;
}

#iconoToggler {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.abrirMenu,
.cerrarMenu {
  display: none;
}

#contenedorMain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 24px;
}

.cajaLogin {
  border-radius: 20px;
  padding: 20px;
  background-color: #dad2bc;
  width: 800px;
  border: 5px solid #242124;
}
body.dark-mode .cajaLogin {
  background-color: #70798c;
  border: 5px solid white;
}

.form-control {
  background-color: #ececec;
}
.form-control:focus {
  border-color: #242124;
  box-shadow: 0 0 5px #242124;
  outline: none;
}

body.dark-mode .form-control {
  background-color: #242124;
}
body.dark-mode .form-control:focus {
  border-color: #ececec;
  box-shadow: 0 0 5px #ececec;
  outline: none;
}

.izquierda {
  border-radius: 10px;
  background-color: #e1d9c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.dark-mode .izquierda {
  background-color: #242124;
}

.imagen img {
  height: 220px;
  width: 220px;
  border-radius: 10px;
}

.derecha h2 {
  text-align: center;
  color: #242124;
  font-weight: 500;
}
body.dark-mode .derecha h2 {
  color: #ececec;
  font-weight: 500;
}

.form-label {
  color: #242124;
  font-weight: 400;
}
body.dark-mode .form-label {
  color: #ececec;
  font-weight: 400;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-primary {
  --bs-btn-color: white;
  --bs-btn-border-color: #2c262c;
  --bs-btn-bg: #2c262c;
  --bs-btn-hover-bg: #393139;
  --bs-btn-hover-border-color: #2c262c;
  --bs-btn-active-bg: #393139;
  --bs-btn-active-border-color: #2c262c;
  font-weight: 400;
}
body.dark-mode .btn-primary {
  --bs-btn-color: black;
  --bs-btn-border-color: #dad2bc;
  --bs-btn-bg: #dad2bc;
  --bs-btn-hover-bg: #dad2bcc6;
  --bs-btn-hover-border-color: #dad2bcc6;
  --bs-btn-active-bg: #dad2bcc6;
  --bs-btn-active-border-color: #dad2bcc6;
}

footer {
  text-align: center;
  bottom: 0;
  margin-top: auto;
}

@media (max-width: 550px) {
  .abrirMenu,
  .cerrarMenu {
    display: block;
    border: 0;
    font-size: 30px;
    background-color: transparent;
  }

  .nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #dad2bc;
    padding: 32px;
    align-items: flex-end;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  body.dark-mode .nav {
    background-color: #70798c;
  }
  .nav.visible {
    visibility: visible;
  }

  .nav-links {
    flex-direction: column;
    align-items: end;
  }
}
