body
{
    background-color: #242124;
}

header
{
    background-color: #70798C;
    height: 150px;
}

#contenedorSearch select
{
    width: 200px;
}

#navSearch
{
    height: 100px;
}

.btnSearch
{
    width: 40px;
    height: 40px;
}

#contenedorCart
{
    font-size: 25px;  
}

.redesContainer
{
    width: 30px;
    height: 30px;
    background-color: #A99985;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#categorias li
{
    display: inline;
    margin: 5px;
}

#categorias a
{
    color: black;
    text-decoration: none;
}

