.redesContainer {
  width: 30px;
  height: 30px;
  background-color: #a99985;
  margin: 5px;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#categorias li {
  display: inline;
  margin: 5px;
}

#categorias a {
  color: black;
  text-decoration: none;
}
